.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.carousel-caption,.projectLink {
    color: cadetblue;
    background-color: white
}
@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

.icon {
    font-size: xx-large;
}